/* general styles */

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: rgb(74, 74, 74);
  background-color: rgb(255, 255, 255);
}

h1,
h3,
h4,
h5 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: rgb(74, 74, 74);
}

h1 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

p {
	line-height: 1.2;
}

a {
  text-decoration: none;
}

.v-center {
	display: flex;
	align-items: center;
}

/* header styles */

header {
	height: 4rem;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgb(255, 255, 255);
}

header .content {
	display: flex;
	justify-content: space-between;
}

header .content img {
	padding-left: 1.5rem;
	height: 2rem;
	width: auto;
}

header .content h5 {
	padding: 1rem 0;
}

.regular {
	font-weight: 300;
	color: rgb(155, 155, 155);
}

header .content nav {
	padding-right: 1.5rem;
}

.navlink {
	height: 4rem;
}

.navlink .space {
	height: 4rem;
	width: 1rem;
	background-color: rgb(146, 224, 224);
}

.navlink div a {
	color: rgb(74, 74, 74);
}

.banner {
	background-color: rgb(216, 216, 216);
}


.banner img {
	margin-top: 4rem;
	padding: 2rem 1.5rem;
	width: 60%;
}

.banner-text {
	width: 30%;
}

.banner-text h4 {
	margin: 2rem 0;
	font-size: 2rem;
}

.banner-text .btn {
	background-color: rgb(74, 74, 74);
	color: rgb(255, 255, 255);
	text-align: center;
	width: 100%;
	padding: 0.5rem 0;
}

/* ínformation styles */

.info {
	display: inline-flex;
}

.main-info {
	width: 60%;
	padding-right: 1.5rem;
}

.main-info img {
	width: 100%;
}

.main-info h3 {
	margin: 2rem 0 1.5rem 0;
}

.main-info .author {
	font-weight: 700;
	margin-top: 1.5rem;
}

.special-bg {
	background-color: rgb(216, 216, 216);
}

.add-info {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.add-info .container img {
	width: 35%;
	height: auto;
	margin: 1rem;
}

#no-top {
	margin-top: 0;
}

.info-text {
	line-height: 1.5rem;
	width: 65%;
}

.info-text p {
	padding: .5rem 0;
}

.clear {
	width: 100%;
	height: 2rem;
}

/* course styles */

.courses {
	background-color: rgb(234, 235, 236);
}

.courses h1 {
	text-align: center;
	padding-top: 2rem;
}

.course-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 2rem 3.5rem;
}

.cource {
	background-color: rgb(255, 255, 255);
	max-width: 33.25rem;
	margin: 0 1rem 2rem 1rem;
}

.cource img {
	height: auto;
}

.cource-text {
	padding: 1rem 1rem 1.5rem 1rem;
}

.cource-text p {
	margin-top: .5rem;
}

.thesis h1 {
	text-align: center;
	padding-top: 2rem;
}

.thesis-container {
	padding-top: 2rem;
	display: inline-flex;
}

.video-container {
	width: 60%;
	padding: 0 1.5rem 2rem 1.5rem;
}

.video-container video {
	width: 100%;
}

.showcase-container {
	min-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.showcase img {
	height: auto;
	width: 35%;
	padding: 1rem;
}

.foot {
	border-top: 1px solid rgb(234, 235, 236);
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;
}

footer .link {
	margin-left: 1rem;
}